<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>277102881445-bsnoeh4dcre20mt4drbg6r65e3tma7kh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.277102881445-bsnoeh4dcre20mt4drbg6r65e3tma7kh</string>
	<key>API_KEY</key>
	<string>AIzaSyB7KtIsvuV5tBcp9I_4mvirpNetbmhdDmU</string>
	<key>GCM_SENDER_ID</key>
	<string>277102881445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swifties.switfiesTechnoscape.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>swifties-technoscape</string>
	<key>STORAGE_BUCKET</key>
	<string>swifties-technoscape.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277102881445:ios:f060b47b2f4eca49b63b4c</string>
</dict>
</plist>